<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="main_header">
        <div class="header_top">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="header_contact_info">
                            <ul>
                                <li><a href="#"><i class="icon-call-in"></i>水彩春天杂货铺</a></li>
                                <li><a href="#"><i class="icon-envelope"></i> Spring Cloud</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="language_currency text-right" th:if="${session.phonenum} ne null">
                            <ul>
                                <li class="account">
                                    <a th:href="@{/goods/getAll}"><i class="icon-user"></i>  <em th:text="${session.phonenum}"></em> </a>
                                </li>
                                <li class="cart">
                                    <a th:href="@{/goods/cartAll}"><i class="layui-icon-cart"></i> 我的购物车 </a>
                                </li>

                                <li class="collect">
                                    <a th:href="@{/goods/collectAll}"><i class="layui-icon-cart"></i> 我的收藏 </a>
                                </li>
                                <li class="order">
                                    <a th:href="@{/goods/getAllorder}"><i class="note-icon-orderedlist"></i> 我的订单 </a>
                                </li>
                                <li class="loginout">
                                    <a href="http://localhost:8896/goods/quit"><i class="icon-call-out"></i> 退出登录 </a>
                                </li>
                            </ul>
                        </div>
                        <div class="language_currency text-right" th:if="${session.phonenum} eq null">
                            <ul>
                                <li class="account">
                                    <a th:href="@{/goods/quit}"><i class="icon-user"></i>  请登录 <i class="icon-right ion-ios-arrow-down"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_middle sticky-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3 offset-md-5 offset-lg-0 col-5 offset-3 col-sm-5">
                        <div class="logo">
                            <a th:href="@{/goods/getAll}"><img th:src="@{/assets/img/logo/logo.png}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

</body>
</html>

