<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.goodsprovider.dao.CartDao">

    <insert id="insertOrder" parameterType="com.itheima.b2b.commonmodule.model.Userorder">
        INSERT INTO userorder (orderid, goodsname, number, price, time, phonenum, receivername, receiverphone, address)
        VALUES (#{orderid}, #{goodsname}, #{number}, #{price}, now(), #{phonenum}, #{receivername}, #{receiverphone}, #{address});
     </insert>

    <delete id="deleteCart" parameterType="int">
       delete from cart WHERE id = #{gid}
    </delete>
</mapper>