<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.userprovider.dao.UserDao">


    <insert id="register" parameterType="com.itheima.b2b.commonmodule.model.User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phonenum != null  and phonenum!=''">phonenum,</if>
            <if test="username != null  and username!=''">username,</if>
            <if test="password != null  and password!=''">password,</if>
            <if test="nationality != null  and nationality!=''">nationality,</if>
            <if test="category != null and category!=''">category,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phonenum != null  and phonenum!=''">#{phonenum},</if>
            <if test="username != null and username!=''">#{username},</if>
            <if test="password != null and password!=''">#{password},</if>
            <if test="nationality != null and nationality!=''">#{nationality},</if>
            <if test="category != null and category!=''">#{category},</if>

        </trim>
    </insert>

    <delete id="deleteUserById" parameterType="string">
        delete from sys_user where phonenum=#{phonenum}
    </delete>

    <select id="login" resultType="com.itheima.b2b.commonmodule.model.User" parameterType="java.lang.String">
        select phonenum, username, password, nationality, category
        from sys_user
        where phonenum = #{phonenum}
    </select>

    <resultMap id="AllUserResult" type="com.itheima.b2b.commonmodule.model.User">
        <id property="id" column="id"></id>
        <result property="phonenum" column="phonenum"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="nationality" column="nationality"></result>
        <result property="category" column="category"></result>
    </resultMap>

    <select id="getAllUser" resultMap="AllUserResult">
        select phonenum,username,password,nationality,category from sys_user
    </select>

    <select id="getAllUserByphonenum" resultType="com.itheima.b2b.commonmodule.model.User">
        select phonenum,username,password,nationality,category from sys_user where phonenum like concat('%',#{phonenum},'%')
    </select>

    <update id="editUser">
        update sys_user
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username != ''">
                username=#{username},
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
            <if test="nationality != null and nationality != ''">
                nationality=#{nationality},
            </if>
        </trim>
        where phonenum=#{phonenum}
    </update>

</mapper>
