<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="common/common.html :: common_resource"></div>

</head>

<body class="gray-bg">

    <div class=" animated fadeInDown">
        <div>
            <h3 class="text-center">水果电子商城<span><img alt="image" class="img-circle" style="height:64px;width:64px;" th:src="@{/img/chenggong.png}" /></span></h3>

            <div>
                <h1 class="text-center logo-name">Welcome</h1>
            </div>
        </div>
    </div>

</body>

</html>